* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --operator-bg-color: hsl(166, 44%, 63%);
  --clear-all-bg-color: hsl(166, 70%, 88%);
  --number-bg-color: hsl(165, 2%, 42%);
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
}

button {
  border: none;
  background: none;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 15px;
  font-family: var(--font);
}

button:hover {
  opacity: 0.7;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

main {
  margin: auto;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
}

.output_display {
  margin-bottom: 2rem;
  margin-left: auto;
  text-align: right;
  font-size: 1.5rem;
}

h2 {
  text-align: right;
}

.calculator_container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.clear_all {
  grid-column: span 3;
  background-color: var(--clear-all-bg-color);
}

.grid-col-span2 {
  grid-column: span 2;
}

.number_btn {
  background-color: var(--number-bg-color);
  color: rgb(225, 237, 235);
}

.operator_btn {
  background-color: var(--operator-bg-color);
}
